//Main Colors
$colors--black: #000000;
$colors--white: #ffffff;
$colors--purple-brown: #371922;
$colors--spruce: #0f6344;
$colors--dull-red: #b45240;

//Second Colors
$colors--pale-grey: #f8f6f7;
$colors--white-two: #dbd7d7;
$colors--dark-slate-blue: #133551;
$colors--nice-blue: #1977c3;
$colors--dark-grey: #222228;

//Text - Icon Colors
$colors--pinkish-grey: #bdbbbb;
$colors--warm-grey: #999999;
$colors--warm-grey-two: #9f9f9f;
$colors--greyish-brown: #555555;
$colors--black-two: #333333;

$colors--dirty-purple: #735e64;
$colors--dusty-lavender: #afa3a7;
