.btn {
  color: inherit;
  cursor: pointer;

  &--hamburger {
    &:hover {
      color: darken($colors--white, 10%);
    }

    .hamburger-text {
      display: none;

      $fsMap: (
        991px: 16px,
        1440px: 20px
      );

      @include media-breakpoint-up(lg) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }

      @include poly-fluid-sizing("font-size", $fsMap);
    }

    @include media-breakpoint-up(xl) {
      margin-right: 1.6rem;

    }
  }

  &--search {
  }

  &--call-you {
    display: inline-block;

    &:hover {
      color: darken($colors--white, 10%);
    }

    .phone-text {
      font-size: 1.6rem;
      font-weight: 700;

      @include media-breakpoint-only(md) {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        $fontMap: (
        991px: 16px,
        1440px: 20px
      );
      @include poly-fluid-sizing("font-size", $fontMap);
        font-weight: 400;
      }

      
    }
  }

  &--primary {
    background-color: $colors--purple-brown;
    color: $colors--white;

    &:hover {
      background-color: $colors--white;
      color: $colors--purple-brown;
    }

    &-reverse {
      background-color: $colors--white;
      color: $colors--purple-brown;

      &:hover {
        background-color: darken($colors--white, 10%);
      }
    }
  }

  &--language-trigger {
    font-size: 1.4rem;
    letter-spacing: 3.5px;
  }
}
